<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                  <span class="sr-only">切換導航</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
      <a class="navbar-brand" href="/index">WeArt</a>
    </div>

    <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/index/">首頁</a></li>
        <li><a href="/reader/testForPageCollection/">作品集</a></li>
        <li><a href="/author/artsManage/">作家專區</a></li>
        <li><a href="/aboutUs/">關於我們</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/reader/register"><span class="glyphicon glyphicon-user"></span> 注冊</a></li>
        <li><a href="/reader/login"><span class="glyphicon glyphicon-log-in"></span> 登錄</a></li>
      </ul>
    </div>
  </div>
</nav>
