body, html {
    height: 100%;
    margin: 0;
    /* The image used */
    background-image: url(/static/img/register-1200.jpg);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
