
module my-nginx 1.0;

require {
	type httpd_t;
	type soundd_port_t;
	type xen_port_t;
	class tcp_socket { name_bind name_connect };
}

#============= httpd_t ==============
allow httpd_t soundd_port_t:tcp_socket name_bind;

#!!!! This avc can be allowed using the boolean 'httpd_can_network_connect'
allow httpd_t xen_port_t:tcp_socket name_connect;
