<!DOCTYPE html>
<html>

<head>
	<title> Register Success</title>

	<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
	<link href="/static/css/bootstrap.css" rel="stylesheet" />
	<link href="/static/css/bootstrap-theme.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/templatesCss/indexBg.css" />
</head>

<body>
	{% include 'nav.html' %}

	<div class="container" style="margin:10% auto;">
		<div class="row">
				<div class="center-block text-center">
					<h3>注冊成功！</h3>
					<h3>請登錄到注冊郵箱中驗證用戶身份，有效期為 10 分鐘 ！</h3>
				</div>
		</div>
	</div>

</body>

</html>
