<!DOCTYPE html>
<html>

<head>
	<title> Register Success</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet" />
	<link href="/static/css/bootstrap-theme.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/templetesCss/indexBg.css" />
</head>

<body>
	{% include 'nav.html' %}

	<div class="container" style="margin:10% auto;">
		<div class="row">
				<div class="center-block text-center">
					<h3>注册成功！</h3>
					<h3>请登录到注册邮箱中验证用户身份，有效期为 10 分钟 ！</h3>
				</div>
		</div>
	</div>

</body>

</html>
