<!DOCTYPE html>
<html>

<head>
  <title>
    WeArt
  </title>
  <link href="/static/css/bootstrap.css" rel="stylesheet" />
  <link href="/static/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/templetesCss/indexBg.css" />
	<link rel="stylesheet" type="text/css" href="/static/templetesCss/login.css" />
</head>

<body>
  {% include 'nav.html' %}

  <div class="container">
    <p class="text-info">这里是首页</p>
  </div>
</body>

</html>

<script src="/static/js/jquery-3.2.1.js" type="text/javascript"></script>

<script type="text/javascript">
  function getContent() {
    var bookname = $("#bookname").val();
    var chaptername = $("#chapterName").val();

    $.ajax({
        url: '/getContentFromServer',
        type: 'POST',
        dataType: 'json',
        data: {
          bookname: bookname,
          chaptername: chaptername,
        }
      })
      .done(function(resp) {
        // console.log(resp);
        $("#content").val(resp);
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("complete");
      });
  }
</script>
